.background-detail-container {
  background-color: antiquewhite;
  padding: 4rem 0rem;
}

.title-detail-container {
  font-size: 2.4rem;
}

.item-detail-title {
  font-size: 2rem;
}

.item-list-container {
  max-width: 100%;
}
