.item-list-container {
  background-color: antiquewhite;
  padding-top: 1.8rem;
  padding-bottom: 4.5rem;
  max-width: 100%;
}

.title-products {
  padding-top: 3rem;
  font-size: 3rem;
  color: black;
}
