.item-list-container {
  background-color: antiquewhite;
  padding-top: 1.8rem;
  max-width: 100%;
}

.title-products {
  padding-top: 3rem;
  font-size: 2.4rem;
  color: black;
}

p {
  font-size: 1.3rem;
}
