.card-title {
  font-size: 24px;
  font-weight: 400;
  font-family: sans-serif;
}

.price-text {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

.border-bottom1 {
  border-bottom: 2px solid grey;
  margin-bottom: 2rem;
}
