.header {
  background: url("../../assets/images/banner2.jpg") no-repeat center;
  background-size: cover;
  min-height: 60vh;
}

.menu-navbar {
  background-color: #ffffff7f;
  width: 100%;
  padding: 1 2.25rem;
  align-items: center;
  min-height: 5.875rem;
  font-weight: 600;
  padding-top: 1rem;
}

.logo-img {
  max-height: 75px;
  padding-left: 1rem;
}

.navbar-nav {
  padding-top: 1rem;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.header .collapse .navbar-nav .nav-item .nav-link {
  color: #545454;
}

.header .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #f2c12e;
}

.cart-icon-md-sm {
  display: none;
  padding-right: 1rem;
}

.cart-icon-lg-xl {
  display: inline;
  padding-right: 1rem;
}

.style-dropdown {
  background-color: #ffffff7f;
}

.style-dropdown .dropdown-item {
  font-size: 20px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #545454;
}

.style-dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.356);
  color: #f2c12e;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #ffffff7f;
    text-align: center;
  }

  .cart-icon-md-sm {
    display: inline;
    padding-right: 1rem;
  }

  .cart-icon-lg-xl {
    display: none;
    padding-right: 1rem;
  }

  .style-dropdown {
    background-color: transparent;
  }

  .style-dropdown .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.356);
  }
}
